<%= link_to 'Voltar', root_path %>
<hr>
<br>
<h1>Nova Categoria</h1>

<% if @category.errors.any? %>
  <div> 
    <p>Não foi possível cadastrar a categoria.</p>
  </div>
<% end %>
<br>

<%= render "form", category: @category %>
